.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-details-container {
  position: fixed;
  top: 30%;
  right: 10%;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-header {
  width: "auto";
}

.job_post {
  color: grey;
}

.social-icon {
  margin-top: 5px;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

.profile-header {
  margin-bottom: 20px;
}

.profile-header .MuiCardContent-root {
  padding: 16px;
}

.MuiTypography-root {
  margin: 8px 0;
}
